{% extends '::base.html.twig' %}

{% block pageTitle %}
    {% include '@Core/pageTitle/pageTitle.html.twig' with {'page' : "Todolist :"} %}
{% endblock %}

{% block body %}
    <table class="table">
        <thead>
            <tr>
                <th>Fonctionnalité</th>
                <th>Numéro du lot</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    Création de données factices
                </td>
                <td>
                    <strong>
                        1
                    </strong>
                </td>
                <td>
                    Création de données factices afin de pouvoir une base remplie de quelques données.
                </td>
            </tr>
            <tr>
                <td>
                    Connexion à l'application
                </td>
                <td>
                    <strong>
                        1
                    </strong>
                </td>
                <td>
                    Pouvoir se connecter et se déconnecter de l'application. <br />
                    Important : Ne pas passer par FOSUserBundle. <br/>
                    Simple login / mot de passe pour la connexion <br />
                    L'utilisateur connecté doit également être authentifié d'un rôle, ainsi que d'une catégorie <br />
                </td>
            </tr>
            <tr>
                <td>
                    Affichage des catégories de forum
                </td>
                <td>
                    <strong>
                        1
                    </strong>
                </td>
                <td>
                    Afficher les différentes catégories principales lorsque je clic sur "Forum". <br />
                    /!\ Gérer le cas ou il n'y a aucune catégorie (Je clic sur "Forum", je n'ai pas de catégorie, je ne peux pas rester sur page blanche...) <br />
                </td>
            </tr>
            <tr>
                <td>
                    Templating / Code
                </td>
                <td>
                    <strong>
                        Général
                    </strong>
                </td>
                <td>
                    Toute l'application sera basé sur du Bootstrap 3. Les fichiers nécéssaires au bon fonctionnement de Bootstrap sont déjà importés. <br />
                    /!\ Faire du code propre et lisible, ou à défaut, ne pas faire du code spaghetti. /!\ <br />
                    N'écrire du code HTML seulement avec des blocks Bootstrap (sauf en cas de nécéssité).
                </td>
            </tr>
        </tbody>
    </table>
{% endblock %}