{% extends '::base.html.twig' %}

{% block pageTitle %}
    {% include '@Core/pageTitle/pageTitle.html.twig' with {'page' : "Page d'accueil du forum"} %}
{% endblock %}

{% block body %}
    <table class="table">
        <thead>
        <tr>
        </tr>
        </thead>
        <tbody>
        {% for i in 0..5 %}
            <tr>
                <td>
                    <a href={{ path('forum_sport') }}>
                        Sport
                    </a>
                </td>
                <td>
                    <a href={{ path('forum_sport') }}>
                        Ici, on parle de sport !
                    </a>
                </td>
                <td>
                    <a href="#LienVersLesTopicDeLaCatégorie">
                        Dernier message posté le : 23/12/2007 à 23:30
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}