{% extends '::base.html.twig' %}

{% block pageTitle %}
    {% include '@Core/pageTitle/pageTitle.html.twig' with {'page' : "Page d'accueil du forum"} %}
{% endblock %}

{% block body %}
    <table class="table">
        <thead>
        <tr>
        </tr>
        </thead>
        <tbody>
        {% for typeArticle in typeArticles %}  {# j'appel MES typeArticles #}
            <tr>
                <td>
                    <a href={{ "" }}>
                        {{ typeArticle.kindof }}
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}